<?xml version="1.0" encoding="utf-8"?>
<!--     TODO: Add the drawer to all the Activities (Except for the SplashActivity), it should be done by creating a base activity and extending from it, further research is required. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.finaqua.app" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CameraActivity" />
        <activity android:name=".TrackActivity" />
        <!--<activity android:name=".AboutActivity" />-->
        <!--<activity android:name=".ContactActivity" />-->
        <!--<activity-->
            <!--android:name=".ForecastActivity"-->
            <!--android:theme="@style/AppTheme.NoActionBar" />-->
        <!--<activity android:name=".EducationActivity" />-->
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".MapTrackingActivity"
            android:label="@string/title_activity_map_tracking" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>